<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">
    <%= f.email_field :email, class: "form-control m-2 w-75", placeholder: "email" %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions", class:'btn btn-secondary m-2 w-75' %>
  </div>
<% end %>
